{% extends 'base.html' %}

{% block title %}Filter Employees — Employee{% endblock %}

{% block content %}
  <div class="py-3">
    <h2>Filter Employees</h2>
    <form action="{% url 'filter_emp' %}" method="POST" class="row g-3 mt-2">
      {% csrf_token %}
      <div class="col-md-4">
        <label for="name" class="form-label">First/Last Name</label>
        <input type="text" value="{{ name }}" name="name" class="form-control" id="first_name" />
      </div>
      <div class="col-md-4">
        <label for="dept" class="form-label">Department</label>
        <input type="text" value="{{ dept }}" name="dept" class="form-control" id="dept" />
      </div>
      <div class="col-md-4">
        <label for="role" class="form-label">Role</label>
        <input type="text" value="{{ role }}" name="role" class="form-control" id="role" />
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Apply Filters</button>
      </div>
    </form>
  </div>
{% endblock %}